.practice-day {
  background-color: #c8f7c5 !important;
  font-weight: bold;
  border-radius: 50%;
}

.tile-today {
  background-color: yellow !important;
  font-weight: bold;
  border-radius: 50%;
}
